.navigationbar{
    background-color: white !important;
    color: black;

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 16px 0 rgba(0, 0, 0, 0.15);
}

.maincontentcontainer{
  margin-bottom: 4rem;
  /* background-color: #D2D2D2; */
}

.container{
    margin-top: 4rem;
}

.feedarea{
  border-left: 0.5px solid grey;
  border-top: 0.5px solid grey;
}

.feedcards{
    display: flex;
}

.onboardSection{
    margin-top: 2rem;
}

a{
  color: black !important;
  text-decoration: none !important;
}

a:hover{
  color: #323EBE !important;
}
