.navigationbar{
    background-color: white !important;
    color: black;
}

.maincontentcontainer{
  margin-bottom: 4rem;
  /* background-color: #D2D2D2; */
}

.container{
    margin-top: 4rem;
}

.feedarea{
  border-left: 0.5px solid grey;
  border-top: 0.5px solid grey;
}

.feedcards{
    display: flex;
}

.onboardSection{
    margin-top: 2rem;
}

a{
  color: black !important;
  text-decoration: none !important;
}

a:hover{
  color: #323EBE !important;
}

.cardtitle{
  font-weight: 600;
  font-size: 1.375rem;
}
