.navigationbar{
    background-color: white !important;
    color: black;
}

.maincontentcontainer{
  margin-bottom: 4rem;
  /* background-color: #D2D2D2; */
}

.container{
  margin-top: 4rem;
}

.feedarea{
  border-left: 0.5px solid grey;
  border-top: 0.5px solid grey;
}

.feedcards{
    display: flex;
    width: 100%;
}

.onboardSection{
    margin-top: 2rem;
}

a{
  color: black !important;
  text-decoration: none !important;
}

a:hover{
  color: #323EBE !important;
}

.cardheaderimage{
  width: 15%;
  height: 100%;
  margin: 1rem;
}

.articlelikes{
  margin: 1.5rem;
}

.articlewrapper{
  margin: 1.5rem;
}

.cardtitle{
  font-weight: 600;
  font-size: 1.375rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container{
    margin-top: 0rem;
  }

  .feedcards{
    flex-wrap: wrap;
  }

  .feedarea{
    border-left: none;
    border-top: none;
  }

  .articlewrapper{
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .articlelikes{
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
  }

  .cardheaderimage{
    visibility: hidden;
    width: 0%;
    height: 0;
    margin: 0;
  }
}
