
.landingcontainer{
  text-align: center;
}

.headertext{
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 4rem;
}

.headersubtext{
  font-size: 1.5rem;
}

.calltoaction{
  color: white !important;
  background-color: #1B1F24;
  border-color: #1B1F24;
  font-weight: bold;
}

.calltoaction:hover{
    color: #1B1F24 !important;
    background-color: white;
    border-color: #1B1F24;
}

.headerimg{
  width: 60vw;
}

.poptext{
  background-color: #F3F6FD;
  padding: 1rem;
  margin: 1rem;
}
.explainertext{
  width: auto;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.quotetext{
  padding-top: 1rem;
  padding-bottom: 3rem;

  margin-top: 1rem;
}
