.navigationbar{
    color: black;
    background-color: white !important;

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 16px 0 rgba(0, 0, 0, 0.15);
}

.landingcontainer{
}

.headertext{
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 4rem;
}

.headersubtext{
  font-size: 1.5rem;
}

.headerimg{
  width: 60vw;
}

.explainertext{
  width: auto;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.quotetext{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0rem;
  padding-bottom: 3rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}
