.navigationbar{
    background-color: white !important;
    color: black;

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 16px 0 rgba(0, 0, 0, 0.15);
}

.container{
    margin-top: 4rem;
}

.feedcards{
    display: flex;
}

.onboardSection{
    margin-top: 2rem;
}

.profileheader{
    text-align: center;
}

.profileImage{
  width: 10rem;
  height: 10rem;

  border-radius: 50%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.username{
  text-align: center;
  line-height: 0.1rem;

  margin-top: 2rem;
  padding-left: 30%;
  padding-right: 30%;
}

.bio{
    margin-top: 1.5rem;
    padding-top: 1.2rem;
    line-height: 0.1rem;
}

.socialLinks{
  color: blue !important;
  font-size: 1.1rem;

  align-items: center;

  padding-top: 1rem;
  padding-left: 30%;
  padding-right: 30%;
}

.navigation{
    padding-top: 2rem;
}

.postsContainer{
    padding: 1rem;
}

.postsContainer Card{
    width: 50%;
}

.postcard{
  margin: auto;
  margin-top: 2rem;
  max-width: 45vw;
}

.postimage{
  max-height: 40vh;
}
