.footer{
  /* background-color: #e6e6e6; */
  background-color: #1B1F24;
  color: white !important;

  padding: 0.3rem;
  padding-bottom: 5rem;
}

.makewhite{
  color: white !important;
}

.makeblue{
  color: #8B949E !important;
}
