.footer{
  /* background-color: #e6e6e6; */
  background-color: #15171A;
  color: white !important;

  padding: 0.3rem;
  padding-bottom: 5rem;
}

.makewhite{
  color: white;
}

.makeblue{
  color: light-blue !important;
}
