.navigationbar{
    background-color: white !important;
    color: black;

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 16px 0 rgba(0, 0, 0, 0.15);
}

.container{
    margin-top: 4rem;
}

.feedcards{
    display: flex;
}

.onboardSection{
    margin-top: 2rem;
}

.writearea{
  min-height: 70vh;
}

.editorarea{
  width: 90%;
  height:95%;
}

.titlearea{
  width: 100%;
}
