
.signuppage{
  text-align: center;
}

.headertext{
    padding-top: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.headersubtext{
    font-size: 1.3rem;
}

.loginForm{
    padding-top: 2rem;
    padding-left: 38%;
    padding-right: 38%;
}

@media only screen and (max-width: 600px) {
  .loginForm{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
