.navigationbar{
    background-color: white !important;
    color: black;

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 16px 0 rgba(0, 0, 0, 0.15);
}

.signuppage{
  text-align: center;
}

.headertext{
    padding-top: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.headersubtext{
    font-size: 1.3rem;
}

.loginForm{
    padding-top: 2rem;
    padding-left: 38%;
    padding-right: 38%;
}

@media only screen and (max-width: 600px) {
  .loginForm{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
