.aboutcontainer{
  margin-top: 3rem;
}

.shortstory{
  font-size: 1.2rem;
  padding-top: 3rem;
  padding-left: 30%;
  padding-right: 30%;
}

.quoteline{
  font-size: 2rem;

  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3rem;
  padding-bottom: 3rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mytwitter{
  color: #4295f5 !important;
}
