.storyearea{
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;

  margin: 2rem auto;

  /* padding-left: 23rem;
  padding-right: 23rem; */
  /* width: calc(100% - 30px); */
  width: 43.75rem;
}

.storyheading{
  font-weight: 600;
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.storylikes{
  margin: 0;
}

.storycontent{
  text-align: left;
}

.storycontent a{
  font-size: 1rem;
  color: #3286db !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px){
  .storyearea{
    width: 100%;
  }
}
